*{
    margin: 0;
    padding: 0;
    list-style: none;
    text-decoration: none;
    box-sizing: border-box;
}

header {
    width: 100vw;
    height: 115px;
    border-bottom: solid 1px rgba(255, 255, 255, 0.781);
    background-color: rgba(0, 0, 0, 0.89);
    font-family: 'Poppins';
}

header .inner {
    width: 81%;
    height: 100%;
    display: block;
    margin: 0 auto;
}

header .logo {
    display: table;
    height: 100%;
    float: left;
}

header .logo div {
    height: 100%;
    display: table-cell;
    vertical-align: middle;
}


header .logo img {
    width: 100%;
    margin-top: 5px;
}

header nav {
    float: right;
    height: 100%;
}

header nav li {
    display: table;
    height: 100%;
    float: left;
    margin-right: 30px;
}

header nav li:last-of-type {
    margin-right: 0
}

header nav span {
    display: table-cell;
    vertical-align: middle;
}

header nav #inputAddBox {
    flex: 1;
    border: none;
    outline: none;
    background: #edeef0;
    border-radius: 4px;
    padding: 10px;
}

header nav .ButtonAdd {
    background-color: #09f809b7;
    color: #FFF;
    padding: 10px 20px;
    border-radius: 4px;
    font-weight: bold;
}

header nav .ButtonAdd:hover , .ButtonDelete:hover {
    filter: brightness(2);
}


header nav .ButtonDelete {
    background-color: #f80909dc;
    color: #FFF;
    padding: 10px 20px;
    border-radius: 4px;
    font-weight: bold;
}


.container {
    width: 100%;
    min-height: 100vh;
    background-color: rgba(0, 0, 0, 0.89);
    padding: 10px;
}

.todoList {
    width: 100%;
    max-width: 540px;
    background-color: #FFF;
    margin: 100px auto 20px;
    padding: 40px 30px 70px;
    border-radius: 10px;
    font-family: 'Poppins', sans-serif;
}

ul li {
    font-size: 17px;
    padding: 12px 8px 12px 50px;
    user-select: none;
    cursor: pointer;
    position: relative;
}

ul li::before {
    content: '';
    position: absolute;
    height: 28px;
    width: 28px;
    border-radius: 5px;
    background-image: url(assets/unchecked.png);
    background-size: cover;
    background-position: center;
    top: 12px;
    left: 12px;
}

ul li.checked::before {
    background-image: url(assets/checked.png);
}

ul li span {
    position: absolute;
    right: 0;
    top: 5px;
    width: 40px;
    height: 40px;
    font-size: 22px;
    color: #555;
    line-height: 40px;
    text-align: center;
    border-radius: 50%;
}

ul li span:hover {
    background-color: #edeef0;
}

